@model Medigard.Models.Home.HomeMainSectionContainerViewModel
@using CMS.Helpers;

<section class="general-section bg-img" data-id="2">
    <img class="d-none d-md-block" data-toggle="bitb" src="@Model.Image" alt="" />
    <img class="d-md-none" data-toggle="bitb" src="@Model.Image2" alt="" />
    <div class="container">
        <div class="row">
            <div class="offset-lg-3 col-lg-18 col-24">
                <div class="section-header">
                    <h3 class="title secondary bordered bottom">@Model.Title</h3>
                    <div class="text secondary">
                        @Html.Raw(Model.Description)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="offset-lg-2 col-lg-20 col-24">
            <div class="row content-row secondary">
                <div class="col-lg-8 col-24">
                    <div class="material-list">
                        <div class="row-list title">
                            <span class="item">@ResHelper.GetString("Medigard.Vitamins")</span>
                            <span class="item">@ResHelper.GetString("Medigard.mg")</span>
                        </div>
                        @foreach (var item in Model.ItemList)
                        {
            <div class="row-list">
                <span class="item">@item.Description</span>
                <span class="item">@item.Item</span>
            </div>}
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>